/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Feb-2018, 09:50:43
    Author     : Rowan
*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "Segoe UI",Arial,sans-serif;
}
textarea {
    font-family: "Segoe UI",Arial,sans-serif;
}
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #fff3d1;
}

.full-width {
    width: 100%;
}
.limit-1 {
    max-width: 880px;
    margin: auto;
}
.limit-2 {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

header div > div {
    display: inline-block;
    height: 100%;
}
header div img {
    height: 100%;
    line-height: 45px;    
    vertical-align: middle;
    padding-right: 5px;
    height: 30px;
}

header a{
    display: inline-block;
    height: 100%;
    margin: 0 11px;
    font-weight: bold;
}
.logo + a {
    margin-left: 0;
}

a,
a:active,
a:visited {
    color: #fff3d1;
    text-decoration: none;
}
a:hover {
    color: #fff491;
    text-decoration: none;
}

header .link {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;
    -ms-transition: box-shadow .1s linear;
    -o-transition: box-shadow .1s linear;
    transition: box-shadow .1s linear;
    
    -webkit-box-shadow:inset 0 0 0 0 #fff491;
    -moz-box-shadow:inset 0 0 0 0 #fff491;
    box-shadow:inset 0 0 0 0 #fff491;
}

header .link.active,
header .link:hover {
    -webkit-box-shadow:inset 0 -4px 0 0 #fff491;
    -moz-box-shadow:inset 0 -4px 0 0 #fff491;
    box-shadow:inset 0 -4px 0 0 #fff491;
}
header .link:hover a {
    color: #fff491;
}

.right {
    float: right;
}
.right:after {
  content: "";
  display: table;
  clear: both;
}

/* === hr === */
.hr:after,
.hr:before{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
.hr{
    margin: auto;
    width: 100%;
}


/* === btn === */
.btn {
    background: none;
    color: #fff3d1;
    border: 1px solid #224499;
    padding: 7px;
}

.btn:hover {
    border-color: #1c94e0;
    cursor: pointer;
}

.hidden {
    display: none;
}

.flash {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}